*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Roboto', sans-serif;
}

.container{
    max-width: 1140px;
    margin: auto;
}


li {
    list-style: none;
}

.title p{
    color: #f55f8d;
    font-weight: 700;
    font-size: 22px;
    padding-bottom: 20px;
}

.title h2{
    font-size: 70px;
    padding-bottom: 25px;
}

.btn-gradient {
    background-image: linear-gradient(to right,   #f55f8d 0, 
    #f8ae56 51%, 
    #f55f8d 100%
    );
    margin: 10px;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: all 0.5s;
    background-size: 200%;

    border: transparent;
    color: white;
    border-radius: 30px;
    display: block;
}

.btn-gradient:hover {
    background-position: right center;
    color: #fff;
    text-decoration: none;
}




/* navbar css */
header{
    position: absolute;
    width: 100%;
}
header .navbar li {
    margin: 0 15px;
}

header .navbar ul a span {
    display: inline-block;
    transition: all 1s;
}
header .navbar ul a:hover {
    color: #f55f8d;
}
header .navbar ul a:hover span {
    animation: upToDown 0.3s;
}

header .navbar .navbar_content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .navbar .navbar_content .nav-links{
    display: flex;
    align-items: center;
}

header .navbar .navbar_content .nav-links li {
    display: inline-block;
}

header .navbar{
    position: relative;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}




/* Carousel css */
.saCarousel{
    background-image: url(../img/pic2.png);
    padding-top: 180px;
    background-position: top;
    background-size: 100%;
}

.saCarousel .saCarousel_content{
    display: flex;
    align-items: center;
}

.saCarousel .saCarousel_left{
    width: 60%;
}

.saCarousel .saCarousel_left .saCarousel_point p{
    color: #636363;
    /* font-weight: 500; */
    padding-bottom: 20px;
    font-size: 19px;
    line-height: 1.5;
}

.saCarousel .saCarousel_left .saCarousel_point li{
    padding-bottom: 20px;
    color: #636363;
    font-size: 20px;
}

.saCarousel .saCarousel_left .saCarousel_point i{
    padding: 10px;
    background-image: linear-gradient(to right,   #f55f8d 0, 
    #f8ae56 100%
    );
    border-radius: 50%;
    color: white;
    font-size: 20px;
}

.saCarousel .saCarousel_right{
    width: 40%;
}

.saCarousel .saCarousel_right img{
    margin-left: 70px;
}



/* Services css */
.services{
    padding: 100px 0;
    text-align: center;
    background-image: url(../img/bg17.png);
    background-size: cover;
    background-position: top center;
}





/* .services .title{
    text-align: center;
} */

.services .services_content{
    display: flex;
    /* text-align: center; */
    gap: 30px;
}

.services .services_content .title h2{
    margin-bottom: 30px;
}

.services .services_content .services_item{
    padding: 40px;
    width: 33.33%;
    border: 3px solid transparent;
    border-radius: 10px;
    background-color: white;
    transition: all 0.5s;
    /* border-image: 100 round;
    transform: translateY(0); */
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.services .services_content .services_item img{
    width: 200px;
}

.services .services_content .services_item h3{
    padding: 15px 0;
    font-size: 25px;
}

.services .services_content .services_item p{
    color: #636363;
    line-height: 1.7;
    padding-bottom: 15px;
}

.services .services_content .services_item:hover{
    transform: translateY(-20px);
    border-image: url(../img/br.png) 1 round;
}







/* keyframes css */
@keyframes upToDown {
  49% {
    transform: translateY(100%);
  }
  50% {
    opacity: 0;
    transform: translateY(-100%);
  }
  51% {
    opacity: 1;
  }
}